<body>
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
<link rel="stylesheet" href="Content/index.css">
  <!-- Main Content -->
  

    <div id="intro">
      <h1 style="font-size:190px;">Hello</h1>
    </div>
    <div id ="name">
      <h4 >I'm Emmanuel</h4>
    </div>
    <div id="info">
      <P>I am an aspiring Game Dev and Software Developer seeking to make a difference with my work.</P>
      <p>Feel free to look through my website to know more about me</p>
    </div>
    
  
  


<%- include partials/footer.ejs %>

<%- include partials/bottom_nav2.ejs %>
  
</body>



